faiss==1.7.4
loguru==0.7.2
numpy==1.24.4
pandas==2.0.3
pillow==10.3.0
python-json-logger==2.0.7
ray==2.10.0
recbole==1.1.1
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
torch==1.13.1+cu116
torch-cluster==1.6.0+pt113cu116
torch_geometric==2.5.2
torch-scatter==2.1.0+pt113cu116
torch-sparse==0.6.15+pt113cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tornado==6.4
tqdm==4.66.2
